.row-header {
	margin: 0px auto;
	padding: 0 auto;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0 50px 0;
	border-bottom: 1px ridge;
	min-height: 300px;
}

.row-footer {
	background-color: #afafaf;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
}

address {
	font-size: 80%;
	margin: 0px;
	color:#0f0f0f;
}

body {
	background: #ddd;
	align: center;
	padding: 50px 0 0 0;
	z-index:0; 
}

.navbar-inverse {
/*	background: #303f9f;*/
	background:#413f3b;

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
/*	background: #1a237e;*/
background: #000;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
/*	background: #1a237e;*/
background: #000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
	background-color: #413f3b;
	color: #eee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li {
	color: #000;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.affix {
	top:60px;
}

.carousel {
	background: #413f3b;
}

.carousel .item {
	height: 400px;
}

.item img {
	position: absolute;
	top: 0;
	left: 0px;
	min-height: 400px;
}

#carouselButtons {
	right: 0;
	position: absolute;
	bottom:0;
}