
.row-header {
	margin: 0px auto;
	padding: 0 auto;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0 50px 0;
	border-bottom: 1px ridge;
/*	min-height: 250px;*/
}

.myContainer {
	min-height: 590px
}

.row-footer {
	background-color: #afafaf;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
}

address {
	font-size: 80%;
	margin: 0px;
	color:#0f0f0f;
}

body {
	background: #33EEFF;
	align: center;
	padding: 50px 0 0 0;
	z-index:0; 
}

.navbar-inverse {
/*	background: #303f9f;*/
	background:#413f3b;

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
/*	background: #1a237e;*/
background: #000;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
/*	background: #1a237e;*/
background: #000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
	background-color: #413f3b;
	color: #eee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li {
	color: #000;
}


.tab-content {
/*	border: 1px solid #000;*/
	padding-top: 10px;
	min-height: 200px
}

.affix {
	top:60px;
}

.carousel {
	background: #413f3b;
}



.item img {
	position: absolute;
	top: 0;
	left: 0px;
	min-height: 400px;
}


.well {
	margin-top: 50px;
}

ul {
	line-height: 25px;
}